.SearchBar1{
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 55px;
}
.mdl-card__supporting-text{
    box-sizing: content-box;

}
.mdl_card.custom-card{
    background-color: dimgray;
    border-radius: 100px;
    box-sizing: content-box;
    width:270px;
    overflow: hidden;
}
.mdl-card__title-text{
    background-color: rgba(0,0,0,.3);
    font-size: 18px;
    color: white;
    font-display:initial;
    cursor: pointer;
    margin: 0%;
    padding:10px;
    margin-right: 20px;
    
}

.addtofavbutton{
    cursor: pointer;
    margin-bottom: auto;
    border-radius: 80px;
    overflow: hidden;
}
